nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #EEDCC9;
}

.nav-items{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}
.hero-section{
    background-image: url(../images/download\ \(7\).jpeg);
    background-size: contain;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20%;
}
.hero-content{
    width: 80%;
    margin: auto;
    font-size: xx-large;
    padding-bottom: 70PX;
    
}
.bio{
    width: 80%;
    margin: auto;
   
}



